
.container{
    font-family: 'Lato', sans-serif;
    font-size:14px;
    width: 100%;
    height: 100%;
    position: relative;
    & .content{
        position: absolute;
        width:100%;
        height: 100%;
        // text-align: center;
        background:transparent;
        top:0;
    }
}
.bg-section{
    width: inherit;
    height: 100%;
    display: flex;
    background: url(../images/football.jpeg),rgba(96, 149, 235, 0.8);
    background-blend-mode:luminosity;
    background-size: cover;
    background-position: center;
    & .bg-subsection{
    }
    
    @for $i from 1 through 18{
        & .bg-subsection-#{$i}{
            @if($i<3){
                &:first-child{
                    background-color: rgba(4, 7, 17, 0.713);
                }
            }
            @if $i<3 {
                border-left:1px solid transparent; 
            }
            flex:.1*$i;
            background-color: rgba(4,7,17,$i*.3);
            position: relative;
            @if $i==8{
                background-color: rgba(4, 7, 17, 0.513);
            }
            @if $i==9{
                background-color: rgba(4, 7, 17, 0.613);

            }
            &::before{
                position: absolute;
                height: 100%;
                top:0;left:0;right:0;bottom:0;
                content:'';
                width:100%;
                opacity: .3;
                background: #0f0e4b;
            }
        }

    }
}

//content
.content{
}