//mixins
%fw1{
    font-weight:500;
}

//link resets
%link-fix{
    text-decoration: none;
    color: white;
    text-anchor: start;
}
.navbar{
    font-family: 'Lato', sans-serif;
    display: flex;
    margin: 0 auto;
    padding:10px;
    width: 93%;
    height: 50px;
    box-sizing: border-box;
    color:white;
    & .menu{
        padding: 8px;
        width: 40%;
        margin-left:53px; 
        text-align: center;
    }
    & .authorize{
        text-align: right;
        width: 40%;
    }
    & .brandname{
        text-align: left;
        opacity: 0;
        width: 30%;
        transition: opacity 2s ease-in 2s;
    }
}



//Authorize
.authorize{
    padding-right:2px; 
    & .btn{
        font-family: 'Lato', sans-serif;
        cursor: pointer;
       margin-left: 20px; 
       background: transparent;
       border:none;
       font-size: .9rem;
       @extend %fw1;
       padding:7px;
       color:white;
       width:30%;
       
       &:not(:first-child){
           border:1px ridge rgba(255,255,255,.4);
       }
    }
}

//menu-list

.menu{
    margin-left:30px;
    & a{
       display:inline-block;
       margin:10px 30px;
    //    width:30%;
       color:white;
       padding-bottom: 15px;
       font-size: .9rem;
       @extend %link-fix;
       &:nth-child(2){border-bottom: 4px inset rgba(255, 255, 255, 0.261);} 
    }
}

//brandName
.brandname{
    font-family: 'Lato', sans-serif;
    margin-left: -5px; 
    & a{
        font-size:1.3rem;
        margin-top:2px; 
    }
}