.verify-user{
    display: flex;
    padding:10px;
    align-content: center;
    width:70%;
    margin: 0 auto;
    position:relative;
    
    & p,button{
        padding: 5px;
        position: absolute;
    }
    & p{
        left:13px;
    }
    & button{
        font-family: 'Lato', sans-serif;
        right:33px;
        cursor:pointer;
        box-shadow:2px 2px 2px rgba(134,134,134,.9);
        color:white;
        background-color: rgba(2, 1, 43, 0.9);
        width:120px;
        border:none;
        padding:10px;
    }
}